html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: #f2f0f0;
    margin: 0px;
}

.menu-container{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

@media (min-width: 768px){
    .menu-container{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.botones{
    a {
        padding-right: 2rem;
        color: white;
        text-decoration: none;
    }
}



.pagos{
    color: #000000;
    margin-inline-start: 7rem;
    margin-inline-end: 7rem;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    background-color: white;
    border-radius: 0.6rem;
    align-items: center;

    h1{
        color: #505050;
        text-align: center;
        border-bottom: 0.1rem solid #000000;
    }

    .datos{
        font-size: 0.5rem;
        padding: 3rem;
        display: flex;
        flex-direction: column;  /* para apilar los inputs verticalmente */
        gap: 2.5rem; 
        /*align-items: center;*/

        .codi {
            display: flex;
            flex-direction: column repeat(2, 1fr); /* crea dos columnas de igual ancho */
            gap: 2rem;
        }

            .let{
                color: #505050;
            }

            .letra{
                color: #505050;
            }  
        }  
}


@media (max-width: 768px){
    p{
        display: none;
    }
    .tarj{
            display: none;
        }
}

@media (min-width: 768px){
    .pagos{
        color: #000000;
        margin-inline-start: 7rem;
        margin-inline-end: 7rem;
        margin-block-start: 1rem;
        margin-block-end: 2rem;
        background-color: white;
        border-radius: 0.6rem;
        align-items: center;

        h1{
            display: none;
        }
    
        .datos{
            font-size: 1.5rem;
            padding: 3rem;
            align-content: left;
            
            .codi {
                align-content: left;
                .let{
                    color: #505050;
                }
    
                .letra{
                    color: #505050;
                }  
            }   
        }
        
    }
}


.boton{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    a{
        background-color:#F14612;
        font-size: 1.5rem;
        color: #000000;
        text-decoration: none;
        height: 6rem;
        width: 19rem;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px){
    .boton{
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
        a{
            background-color:#F14612;
            font-size: 2.5rem;
            color: #000000;
            text-decoration: none;
            height: 6rem;
            width: 36rem;
            border-radius: 0.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}



