@charset "utf-8";
:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --morado: #ebc3ff;
    --morado_oscuro: #b263d1;
    --gris: #545454;
    --grisclaro: #DFE9F3;
}
body{
    background-color: #f2f0f0;
    margin: 0px;
}
.menu-container{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}


@media (min-width: 1201px){
    .Pedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        margin-inline-start: 70px;
        margin-inline-end: 70px;
    
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        background-color: white;
        border-radius: 6px;
        height: 65rem;
        width: 135em;
        h2{
            font-size: 5rem;
        }
        img {
            margin-top: 8rem;
            height: 29rem;
            width: 30rem;
        }
    
        .botones {
            display: flex;
            flex-direction: row;
            gap: 35rem;
            justify-content: center; /* Añadido para centrar horizontalmente */
          margin-top: 5rem;
            margin-bottom: 1rem;
        }
    
        a {
            font-weight: 18rem;
            font-size: 2rem;
            background-color: #f14612;
            width: 15rem;
            height: 5.5rem;
            border-radius: 1rem;
            text-align: center;
            line-height: 3.5rem; /* Añadido para centrar verticalmente */
           
            color: white; /* Añadido para cambiar el color del texto */
            text-decoration: none; /* Añadido para eliminar el subrayado */
        
        }
    }
}
@media (max-width: 1200px){
    .Pedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        margin-left: 5rem;
        background-color: white;
        border-radius: 6px;
        height: 150rem;
        width:90%;
        margin-top: 2rem;
       
        h2{
            font-size: 5rem;
            text-align: center;
        }
        img {
            margin-top: 25rem;
            height: 59rem;
            width: 60rem;
        }
    
        .botones {
            display: flex;
            flex-direction: row;
            gap: 15rem;
            justify-content: center; /* Añadido para centrar horizontalmente */
          margin-top: 10rem;
            margin-bottom: 1rem;
        }
    
        a {
            font-weight: 18rem;
            font-size: 3rem;
            background-color: #f14612;
            width: 28rem;
            height: 8.5rem;
            margin-top: 10rem;
            border-radius: 1rem;
            text-align: center;
            line-height: 3.5rem; /* Añadido para centrar verticalmente */
           
            color: white; /* Añadido para cambiar el color del texto */
            text-decoration: none; /* Añadido para eliminar el subrayado */
        
        }
    }
}

@media (max-width: 768px){
    .Pedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        margin-left: 3rem;
        margin-top: 2rem;
        background-color: white;
        border-radius: 6px;
        height: 110rem;
        width: 90%;
        h2{
            font-size: 5rem;
            text-align: center;
        }
        img {
            margin-top: 25rem;
            height: 29rem;
            width: 30rem;
        }
    
        .botones {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            justify-content: center; /* Añadido para centrar horizontalmente */
          margin-top: 8rem;
            margin-bottom: 1rem;
        }
    
        a {
            font-weight: 18rem;
            font-size: 5rem;
            background-color: #f14612;
            width: 35rem;
            height: 8.5rem;
            margin-top: 3rem;
            border-radius: 1rem;
            text-align: center;
            line-height: 3.5rem; /* Añadido para centrar verticalmente */
           
            color: white; /* Añadido para cambiar el color del texto */
            text-decoration: none; /* Añadido para eliminar el subrayado */
        
        }
    }
}
