@charset "utf-8";
:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --morado: #ebc3ff;
    --morado_oscuro: #b263d1;
    --gris: #545454;
    --grisclaro: #DFE9F3;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    background-color: #f2f0f0;
    margin: 0rem;
}
.menu-container{
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.contenedor{
    display: grid;
    align-content: center;
    justify-content: center;
    .imagen_sinpedidos {
        display: flex;
        margin-left: 13rem;
        text-align: center;
        justify-content: center;
        img{
            height: 100%;
            width: 100%;
        }
    }
    h2{
        font-size: 4rem;
        color: #707070;
        text-align: center;
    }
}

@media(max-width: 1200px){
    html{
        box-sizing: border-box;
        font-size: 50%;
    }
}
